
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ url_for('main.home') }}">
     HackerNews 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.home') }}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.create_post') }}">Create</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('uploader.upload_image') }}">Upload</a>
      </li>
    </ul>

    {% if current_user and current_user.is_authenticated %}
    {% if g.search_form %}
    <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('main.search')}}">
      <div class="input-group mr-sm-2">
        {{ g.search_form.q(placeholder="Search posts", class_="form-control") }} 
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}

    <ul class="navbar-nav my-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('user.user_home', username=current_user.username)}}">My Posts</a>
          <a class="dropdown-item" href="{{ url_for('user.edit_profile') }}">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
        </div>
      </li>
    </ul>

    {% elif form %}
    <form class="form-inline" id="loginForm" method="POST" action="/" role="login">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="input-group mb-2 mr-sm-2">
        {{ form.username(placeholder="Username", class_="form-control mr-sm-1 my-auto") }} {{ form.password(placeholder="Password",
        class_="form-control mr-sm-1 my-auto") }}
        <button class="btn btn-light btn-primary m-auto" type="submit">Login</button>
      </div>
    </form>
    <ul class="navbar-nav my-auto">
      <li class="nav-item">
        <a class="nav-link navbar-text" href="{{ url_for('auth.register') }}">Create account</a>
      </li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
</nav>
